html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
}

.road {
  width: fit-content;
}

.white,
.black {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin-left: 5px;
}

img {
  width: 50px;
  height: 50px;
}
